.post-meta {
    color: rgb(187,187,187);
}

img {
	margin-top: 1rem;
}

.post__thumbnail {
    max-width: 25%;
    float: right;
	height: auto;
    margin-top: 0;
    margin-left: 1rem;
}

li.h-entry::marker {
	color: transparent;
}

#wrapper {
	max-width: 700px;
}

.profile #wrapper {
	padding: 60px 0;
}

.profile #avatar {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}